@use "./../../partials/palette";

.BookCard {
    background-color: palette.$colour-light;
    border: 1px solid palette.$colour-medium;
    border-radius: 15px;
    width: 300px;
    padding: 8px;
    text-align: center;

    &__Title {
        font-weight: bold;
        color: palette.$colour-medium;
    }

    &__Image {
        height: 160px;
        width: 120px;
        margin: 0 0 8px 0;
    }

    &__Author {
        color: palette.$colour-dark;
    }

    &__Description {
        color: palette.$colour-dark;
    }
    &__Button {
        background-color: palette.$colour-medium;
        color: palette.$colour-light;
        border-radius: 5px;
        &:hover {
            background-color: palette.$colour-dark;
            color: palette.$colour-light;
            cursor: pointer;
        }
    }
    &__Modal {
        background-color: palette.$colour-light;
        margin-top: 10%;
        text-align: center;
    }
}

.test {
}
