@use "./../../partials/devices";
.BookShelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    @include devices.tablet {
        grid-template-columns: 1fr 1fr;
    }
    @include devices.phone {
        grid-template-columns: 1fr;
    }
}
