@use "./../../partials/palette";

.SearchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &__Button {
        background-color: palette.$colour-medium;
        color: palette.$colour-light;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
